<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WisePath | HOME</title>
    <link rel="icon" type="image/svg+xml" href="./images/analysis.svg">

    <!-- ICONSCOUT CDN -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <!-- Google Fonts (Montserrat) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,700&display=swap"
        rel="stylesheet">

    <!-- SWIPER JS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <!-- CSS -->
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/login.css">

</head>

<body>

    <!-- ==================================== START OF NAV BAR ==================================== -->
    <nav>
        <div class="container nav_container">
            <a href="/">
                <h4>WisePath</h4>
            </a>
            <ul class="nav_menu">
                <li><a href="/">Home</a></li>
                <li><a href="/">About</a></li>
                <li><a href="/">Courses</a></li>
                <li><a href="/">Contact</a></li>
            </ul>
            <button id="open-menu-btn"><i class="uil uil-bars"></i></button>
            <button id="close-menu-btn"><i class="uil uil-multiply"></i></button>
        </div>
    </nav>



    <section class="contact">
      <div class="container contact_container">
          <aside class="contact_aside">
              <h2>Already Have an Account</h2>
              <p>Then go and login with that!</p>
              <a href="/login" class="btn btn-primary">Login Here</a> 
              
          </aside>
          <form action="/register" method="POST" class="contact_form">
            <h3>SignUp Form</h3>
            
            <input type="text" name="name" placeholder="Your Name" />
            
            <input type="text" placeholder="Your Name" name="username">
            
            <input type="email" name="email" placeholder="Your Email Address" />
            
            <input type="password" name="password" placeholder="Enter the Password">
            
            <input type="tel" name="phonenumber" placeholder="Enter the Phone number">
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
      </div>
    </section>


<footer>
  <div class="container footer_container">

      <div class="footer_1">
          <a href="/" class="footer_logo">
              <h4>WisePath</h4>
          </a>
          <p>
              <b>WisePath </b>is a comprehensive online platform that offers a wide range of courses and resources to
              help individuals enhance their professional and personal skills.
          </p>
      </div>

      <div class="footer_2">
          <h4>Links</h4>
          <ul class="permalinks">
           
                <li><a href="/index">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/courses">Courses</a></li>
                <li><a href="/contact">Contact</a></li>
            
          </ul>
      </div>

      <div class="footer_3">
          <h4>Privacy</h4>
          <ul class="privacy">
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms and Conditions</a></li>
              <li><a href="#">Refund Policy</a></li>
      </div>

      <div class="footer_4">
          <h4>Contact Us</h4>
          <div>
              <p>+91 9877523375</p>
              <p>arshdeep33455134@gmail.com</p>
          </div>

          <ul class="footer_socials">
              <li><a href="#www.facebook.com"><i class="uil uil-facebook-f"></i></a></li>
              <li><a href="#www.instagram.com"><i class="uil uil-instagram-alt"></i></a></li>
              <li><a href="#www.twitter.com"><i class="uil uil-twitter"></i></a></li>
              <li><a href="#www.linkedin.com"><i class="uil uil-linkedin-alt"></i></a></li>
          </ul>
      </div>

  </div>
  <div class="footer_copyright">
    <small>Copyright &copy; Arshdeep Singh All Right Reserved</small>
</div>

</footer>

<script src="main.js"></script>
</body>

</html>